# Ignore general
*~
._*
*.bak


# Ignore generated version java file
/src/main/java/org/terasology/web/version/VersionInfo.java


# Ignore Eclipse
/.checkstyle
/.project
/.classpath
/.settings/
/bin/

# Ignore gradle
/build/

# Ignore IntelliJ
/*.iml
/*.ipr
/*.iws
/out/

# Ignore Linux
*.directory

#Ignore OSX
Icon
.DS_Store
.DS_Store?
.Spotlight-V100
.DocumentRevisions-V100
.TemporaryItems
.Trashes
.dbfseventsd
.fseventsd
.VolumeIcon.icns

#Ignore Windows
ehthumbs.db
Thumbs.db

# Ignore output
*.log
